
@{
    ViewData["Title"] = "AddToCart";
}

<h2>Shopping Cart</h2>
<div style="overflow-y:hidden; overflow-x: hidden; height: 100px;">
    <table align="left" class="table table-striped">
        <thead>
            <tr>
                <th>ItemID</th>
                <th>Product</th>
                <th>Manufactured</th>
                <th>Number</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>15123</td>
                <td>Far Cry 5</td>
                <td>Ubisoft</td>
                <td>1</td>
                <td>40$</td>
</table>
</div>

<a href="/Customer/OrderDetails" class="btn btn-info">Next Step</a>
