
@{
    ViewBag.Title = "Index";
}
<br />

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#">Platforms</a></p>
            <div class="checkbox">
                <label><input type="checkbox" value="">All</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Steam</label>
            </div>
            <div class="checkbox disabled">
                <label><input type="checkbox" value="">Blizzard</label>
            </div>
            <div class="checkbox disabled">
                <label><input type="checkbox" value="">Xbox</label>
            </div>
            <br>
            <br>
            <p><a href="#">Type</a></p>
            <div class="checkbox">
                <label><input type="checkbox" value="">All</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Pre-Orders</label>
            </div>
            <div class="checkbox disabled">
                <label><input type="checkbox" value="">New product</label>
            </div>
            <div class="checkbox disabled">
                <label><input type="checkbox" value="">DLC</label>
            </div>

        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Sort by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Most Popular</a></li>
                <li><a href="#">Price-Low</a></li>
                <li><a href="#">Price-High</a></li>
            </ul>

        </div>
        <div class="col-sm-8 text-left">
            <br />
            <div class="topnav">
                <input type="text" placeholder="Search..">
                <a href="/Student/Index" class="btn btn-primary btn-sm">Search</a>
            </div>

            <h2>Search Result</h2>
            <p>
                <a href="/Customer/ProductDetails">
                    <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                </a>
                <a href="/Customer/ProductDetails">
                    <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                </a>
                <a href="/Customer/ProductDetails">
                    <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                </a>
                <a href="/Customer/ProductDetails">
                    <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                </a>
                <a href="/Customer/ProductDetails">
                    <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                </a>
           </p>
           <hr>
           <p>
               <a href="/Customer/ProductDetails">
                   <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
               </a>
               <a href="/Customer/ProductDetails">
                   <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
               </a>
               <a href="/Customer/ProductDetails">
                   <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
               </a>
               <a href="/Customer/ProductDetails">
                   <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
               </a>
               <a href="/Customer/ProductDetails">
                   <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
               </a>
           </p>
        </div>
    </div>
</div>

