
@{
    ViewData["Title"] = "PlaceOrder";
}

<h2>Order Confirmed</h2>

<hr size="30">

<div style="overflow-y:hidden; overflow-x: hidden; height: 100px;">
    <table align="right" class="table table-striped">
        <thead>
            <tr>
                <th>ItemID</th>
                <th>Product</th>
                <th>Manufactured</th>
                <th>Number</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>15123</td>
                <td>Far Cry 5</td>
                <td>Ubisoft</td>
                <td>1</td>
                <td>40$</td>
    </table>
</div>
<hr size="30">


<table style="width:100%">
    <tr>
        <th>Contact Person:</th>
        <td>Bob</td>
    </tr>
    <tr>
        <th>Delivery Address:</th>
        <td>PO BOX #4546 NY, USA</td>
    </tr>
    <tr>
        <th>Payment Method:</th>
        <td>Credit Card</td>
    </tr>
    <tr>
        <th>Delivery Details:</th>
        <td>Courier Delivery</td>
    </tr>
</table>
<hr size="30">


<p>Thanks for chosing us!!!</p>
<p>GL & HF</p>
<a href="/Home/Index" class="btn btn-info">Go to Home Page</a>
