
@{
    ViewData["Title"] = "ProductDetails";
}

<h2>ProductDetails</h2>
<br />
<div style="overflow-y:hidden; overflow-x: hidden; height: 100px; width: 600px;">
    <table align="left" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufactured</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Far Cry 5</td>
                <td>Ubisoft</td>
                <td>40$</td>
    </table>
</div>
<p>
    <a href="AddToCart" class="btn btn-info btn-md">                     
        <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
    </a>
</p>

<img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
<html>
<head>
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>

    <h3>Review</h3>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>

</body>
</html>
<div style="overflow-y:hidden; overflow-x: hidden; height: 400px; width: 600px;">
    <table align="left" class="table table-striped">
        <thead>
            <tr>
                <th>CPU</th>
                <th>GPU</th>
                <th>RAM</th>
                <th>DirectX</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>i5 4690</td>
                <td>GTX 1060</td>
                <td>16GB</td>
                <td>12</td>
    </table>
</div>
<html>
<head>
    <!-- Font Awesome Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>

    <h2>Star Rating</h2>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>

</body>
</html>



