@{
    ViewData["Title"] = "About";
}
<h2>About Us</h2>

<p> We are two young students who had a shared goal and vision. Through hard work we managed to reach our target and bring you Games for Geeks. </p>

<p> Our passion for video games has driven us to work countless hours to be able to provide you everything you want in terms of video games. </p>

<p> Games for Geeks is a company founded in 2016. Ever since it has been growing to what is today. It provides a high variety of video games at affordable prices. Let it be known that we do not develop any games at all. </p>

