@{
    ViewBag.Title = "Home Page";
}
<body>
    <br />

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="#">Games Brand</a></p>
                <p><a href="#">EA Sport</a></p>
                <p><a href="#">Blizzard</a></p>
                <p><a href="#">Activision</a></p>
                <p><a href="#">Rockstar</a></p>
                <br>
                <br>
                <p><a href="#">Games Type</a></p>
                <p><a href="#">RPG</a></p>
                <p><a href="#">Shooter</a></p>
                <p><a href="#">MMO-RPG</a></p>
                <p><a href="#">Cards</a></p>
            </div>
            <div class="col-sm-8 text-left">
                <br />
                <div class="topnav">
                    <input type="text" placeholder="Search..">
                    <a href="/Customer/Index" class="btn btn-primary btn-sm">Search</a>
                </div>
                <br />
                <br />
                <h1>New Arivals</h1>
                <p>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                </p>
                <hr>
                <h2>Featured</h2>
                <p>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                    <a href="/Customer/ProductDetails">
                        <img src="https://www.materialui.co/materialIcons/action/hourglass_empty_black_192x192.png" alt="Empty">
                    </a>
                </p>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Thanks for choosing us!</p>
    </footer>

</body>

