
@{
    ViewBag.Title = "History Order";
}

<h2>History Order</h2>

<div class="container">

    <br />
    <br />
    <br />
    <br />
    <br />
    <div style="overflow-y: scroll; overflow-x: hidden; height: 400px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>

                </tr>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>

                </tr>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>